<%# partial view for 10 ten lists %>
<article>
  <h1>
    Top <%# work %>
  </h1>

  <ul>
    <li>
      <h2>
        <%# title %>
      </h2>
    </li>
    <li>
      <h3>
        by <%# user %>
      </h3>
    </li>
    <li>
      <p>
        <%# number of %> votes
      </p>
    </li>
  </ul>
</article>
