<%# list all top 10 lists plus spotlight %>
<%= render partial: 'layouts/nav' %>

<article class="spotlight">
</article>

<section class="top_10">
  <article>
    <%# movies %>
  </article>
  <article>
    <%# books %>
  </article>
  <article>
    <%# albums %>
  </article>
</section>
