<ul>
  <% works.each do |work| %>
  <%# works or @works ?? %>
    <li>
      <%# number of votes %>
    </li>
    <li>
      <%= link_to work.title, work_path(work.id) %>
    </li>
    <li>
      <%= work.creator %>
    </li>
    <li>
      <%= work.publication_year %>
    </li>
    <li>
      <%# link to upvote %>
    </li>
    <br />
  <% end %>
</ul>
