<section> <%# top 10 %>
  <ul> <%# title row %>
    <strong>
      <li>
        Votes
      </li>
      <li>
        Title
      </li>
      <li>
        Created By
      </li>
      <li>
        Published
      </li>
      <li>
        Upvote
      </li>
    </strong>
  </ul>

  <ul>
    <% works.each do |work| %>
    <%# works or @works ?? %>
      <li>
        <%# number of votes %>
      </li>
      <li>
        <%= link_to work.title, work_path(work.id) %>
      </li>
      <li>
        <%= '#{work.creator}' %>
      </li>
      <li>
        <%= '#{work.year_published}' %>
      </li>
      <li>
        <%# link to upvote %>
      </li>
    <% end %>
  </ul>
</section>
