<section> <%# top 10 %>
  <ul> <%# title row %>
    <strong>
      <li>
        Votes
      </li>
      <li>
        Title
      </li>
      <li>
        Created By
      </li>
      <li>
        Published
      </li>
      <li>
        Upvote
      </li>
    </strong>
  </ul>

  <ul>
    <li>
      <%# number of votes %>
    </li>
    <li>
      <%# title (with link) %>
    </li>
    <li>
      <%# created by %>
    </li>
    <li>
      <%# year published %>
    </li>
    <li>
      <%# link to upvote %>
    </li>
  </ul>
</section>
