<%# list all works for each category %>
<section>
  <h1>
    List of works
  </h1>
</section>

<section>
  <article>
    <h2>
      Albums
    </h2>
    <%= render partial: 'works', locals: {works: @albums} %> <%# albums %>
  </article>

  <article>
    <h2>
      Books
    </h2>
    <%= render partial: 'works', locals: {works: @books} %> <%# books %>
  </article>

  <article>
    <h2>
      Movies
    </h2>
    <%= render partial: 'works',locals: {works: @movies} %> <%# movies %>
  </article>
</section>

<footer>
  <nav>
    <%# view top media / add new work links %>
  </nav>
</footer>
