<%# list all works for each category %>
<%= render partial: 'layouts/nav' %>

<h1>
  List of works
</h1>

<section>
<%= render partial: 'works' %> <%# albums %>
<%= render partial: 'works' %> <%# books %>
<%= render partial: 'works' %> <%# movies %>
</section>

<footer>
  <nav>
    <%# view top media / add new work links %>
  </nav>
</footer>
