<%# list all works for each category %>
<%= render partial: 'layouts/nav' %>

<h1>
  List of works
</h1>

<section>
  <article>
    <h2>
      Albums
    </h2>
    <%# top 10 albums %>
  </article>

  <article>
    <h2>
      Books
    </h2>
    <%# top 10 books %>
  </article>

  <article>
    <h2>
      Movies
    </h2>
    <%# top 10 movies %>
  </article>
</section>

<footer>
  <nav>
    <%# view top media / add new work links %>
  </nav>
</footer>
