<header>List of works</header>
<section>
  <%= render partial: 'list', locals: {works: @albums} %>

  <h3>Books</h3>
  <%= render partial: 'list', locals: {works: @books} %>

  <h3>Movies</h3>
  <%= render partial: 'list', locals: {works: @movies} %>
</section>
