<article>
  <%# SPOTLIGHT %>
</article>

<section>
  <h3>Albums</h3><%# top ten albums %>
  <%= render partial: 'list', locals: {works: @albums} %>

  <h3>Books</h3><%# top ten books %>
  <%= render partial: 'list', locals: {works: @books} %>

  <h3>Movies</h3><%# top ten movies %>
  <%= render partial: 'list', locals: {works: @movies} %>
</section>
