<%# view individual works %>
<%= render partial: 'layouts/nav' %>

<%# work details %>
<section>
  <h1>
    <%# work title %>
  </h1>
  <article>
    <%# created by %>
    <%# published %>
    <%# description %>
  </article>
  <nav>
    <%# link to homepage %>
    <%# link to edit %>
    <%# link to upvote %>
    <%# link to delete %>
  </nav>
</section>

<section>
  <h1>
    <%# number of total votes %>
  </h1>
  <section>
    <%# user who voted %>
    <%# date they voted %>
  </section>
</section>
