<%# view all users! so many! %>

<h1>
  List of users
</h1>

<section> <%# list of users %>
  <ul> <%# title row %>
    <strong>
      <li>
        Username
      </li>
      <li>
        Votes
      </li>
      <li>
        Joined
      </li>
    </strong>
  </ul>

  <% @users.each do |user| %>
    <%= link_to user.name, user_path(user.id) %>
    <%#user.votes.count%>
    <%= user.created_at.strftime("%b %d, %Y") %>
  <% end %>
</section>

<footer>
  <nav>
    <%# link to homepage %>
  </nav>
</footer>
