<%# view all users! so many! %>
<%= render partial: 'layouts/nav' %>

<h1>
  List of users
</h1>

<section> <%# list of users %>
  <ul> <%# title row %>
    <strong>
      <li>
        Username
      </li>
      <li>
        Votes
      </li>
      <li>
        Joined
      </li>
    </strong>
  </ul>

  <ul>
    <li>
      <%# username (with link) %>
    </li>
    <li>
      <%# number of votes %>
    </li>
    <li>
      <%# joined %>
    </li>
  </ul>
</section>

<footer>
  <nav>
    <%# link to homepage %>
  </nav>
</footer>
